* {
  padding: 0 auto;
  margin: 0;
}

body {
	font-family: 'Playfair Display', serif;
}

.header {
	background-image: url(https://s3.sa-east-1.amazonaws.com/appi9.mycar/uploads/image1548444565_7008d5657960b3fe8032d7128a64dabf.jpg);
	min-height: 520px;
	background-repeat: no-repeat;
	width: 100%;
	background-position: center center;
	text-align: center;
	background-attachment: relative;
	position: relative;

	-webkit-background-size:100%;
	-moz-background-size:100%;
	-o-background-size:100%;
	background-size: 100%;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.header-pr {
	width: 100%;
	height: 80px;
	background-color: #F8F8FF;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 23px;
	font-family: 'Lobster', cursive;
	box-shadow: 1px 1px 12px #4F4F4F;
	color: #1C1C1C;
}

.geral-pecas {
	width: 100%;
	min-height: 450px;
}

.met-txt-form {
	padding-top: 50px; 
	width: 100%;
	min-height: 400px;
	display: flex;
	justify-content: space-between;
}

@media (max-width: 576px) {
    .met-txt-form {
   		display: flex;
   		flex-wrap: wrap;
		width: 100%;
    }
}

@media (max-width: 768px) {
    .met-txt-form {
   		display: flex;
   		flex-wrap: wrap;
		width: 100%;
    }
}

.grd-txt {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 30px;
}

.grd-txt p {	
	color: #1C1C1C;
}

.grd-form {
	width: 100%;
	padding-top: 30px;
	display: flex;
	justify-content: center;
}

.gd {
	width: 90%;
}

.gd h3 {
	padding-bottom: 30px;
	font-size: 20px;
	text-shadow: 1px 1px 1px #1C1C1C;
}

.form-jc {
	width: 90%;
	margin-bottom: 10px;
	border-radius: 3px;
	border: 1px solid #9C9C9C;
	height: 27px;
}

#form-pecas span {
	font-size: 16px;
	font-weight: bold;
}

#btn-sand {
	height: 36px;
	color: #1C1C1C;
	font-size: 17px;
	background-color: #FFD700;
	border: 1px solid #1C1C1C;
}

.final {
	width: 100%;
	min-height: 400px;
	background-color: #F5F5F5;
}

.logo-wolk {
	display: flex;
	justify-content: center;
	padding: 55px;
}

.info-extra {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.info-extra .pt-1-extra h1 {
	padding: 10px;
}

.info-extra .pt-1-extra a {
	padding: 3px;
	color: #1C1C1C;
}

.pt-2-f h4 {
	padding: 7px;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.p1-1-c {
	width: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px;
}

.imgCar {
	width: 340px;
	height: 183px;
}